@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: 500;
}

:root{
    --primary: #7158D0;
    --secondary: #c850d0;
    --tertiary: #ffcc70;
    --text-color: #fff;
    --secondary-light:#c850d080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'roboto', sans-serif;
    color: var(--text-color);
}

main{
    background-image: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    padding-bottom: 2em;
}

::selection{background: var(--secondary-light); color: var(--tertiary); } 
::-moz-selection{background: var(--secondary-light); color: var(--tertiary);}
::-webkit-selection{background: var(--secondary-light); color: var(--tertiary);}

::-webkit-scrollbar{width: 0.5em;}
::-webkit-scrollbar-track{background: #1f1e2e;}
::-webkit-scrollbar-thumb{background: var(--tertiary); border-radius: 0.5em;}
::-webkit-scrollbar-thumb:hover{background: var(--secondary)}


ul{list-style: none}
a{text-decoration: none; color: inherit;}
input,textarea,button{outline: none; border: none; color: inherit;}
button{cursor: pointer;}

.container {
    margin: 0 auto;
    padding: 0 1em;
}
section{
    padding-top: 3em;
}
section .section-title{
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 1em;
    text-align: center;
    text-transform: capitalize;
    background-image: linear-gradient(180deg,  var(--secondary) 5%, var(--tertiary) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/************** start navbar ************/
nav{
    width: 90%;
    height: 60px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-light);
    border-radius: 100px;
    box-shadow: 1px 1px 26px #302b63;
    backdrop-filter: blur(3px);
    z-index: 111;
    transition: 0.6s transform ease-out;
}

nav.is-hide{
    transform: translateY(200px) translateX(-50%);
}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

}

nav ul li{
    transition: 0.3s transform ease-in-out;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

nav ul li.active{
    background-color: var(--secondary-light);
    box-shadow: inset 0px 0px 17px 0px #386b7482;
    transform: translateY(-20px);
}

nav ul li:hover{
    overflow: visible;    
}

/* li tooltip */
nav ul li::after,
nav ul li::before{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.5em;
    opacity: 0;
    transition: 0.6s opacity ease-in-out;
    pointer-events: none;
}

nav ul li::after{
    content: "";
    bottom: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: var(--primary) transparent transparent transparent;
}

nav ul li::before{
    content: attr(data-tooltip);
    bottom: calc(100% + 20px);
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--text-color);
    background-color: var(--primary);
    padding: 0.5rem 1rem;
}

nav ul li:hover::after,
nav ul li:hover::before{
    opacity: 1;
}

nav ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
} 

nav ul li a img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    filter: invert(46%) sepia(65%) saturate(1291%) hue-rotate(268deg) brightness(85%) contrast(90%);
    transition: 0.3s filter ease-in-out;
}

nav ul li:hover img,
nav ul li.active img{
    filter: invert(100%) sepia(96%) saturate(18%) hue-rotate(216deg) brightness(103%) contrast(104%);
}


/************** start (header-landing) page ************/
header{
    width: 100%;
}
.header-contain{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-contain .landing-img{
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
}

.header-contain .landing-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.header-contain .landing-info{width: 100%;}
.header-contain .landing-info h1{
    line-height: 1.7;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.07rem;
    text-transform: capitalize;
    margin-bottom: 1.2em;
}

.header-contain .landing-info h1 span{
    font-size: 2rem;
    display: block;
} 

.header-contain .landing-info h1 .span-skils{
    height: 1.7em;
    border-right: 5px solid transparent;
    animation: witerBorder 0.3s linear infinite;
    padding-right: 0.1em;
    width: fit-content;
}

.header-contain .landing-info h1 .dev-name{
    display: inline;
    font-weight: 900;
    background-image: linear-gradient(43deg, var(--primary) 0%, var(--secondary) 46%, var(--tertiary) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.header-contain .landing-info .download-cv{
    width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 1em;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--secondary);
    border-radius: 120px;
    overflow: hidden;
    box-shadow: inset -300px 0px 0px var(--primary), 0px 0px 0px var(--secondary-light);
    transition: .3s box-shadow ease-in-out;
}

.header-contain .landing-info .download-cv:hover{
    box-shadow: inset 0px 0px 0px var(--primary), 0px 0px 20px var(--secondary-light);
}

.header-contain .landing-info .download-cv img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    transition: 0.3s filter ease-in-out;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(52deg) brightness(105%) contrast(101%);
}

/******************** start about section **************** */

.about-info > div:not(:last-child){margin-bottom: 5em;}

.about-info h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1em;
    text-transform: capitalize;
    letter-spacing: 0.07rem;
    width: fit-content;
    padding-bottom: 0.25em;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(43deg, var(--primary) 0%, var(--secondary) 46%, var(--tertiary) 100%);
    border-image-slice: 1;
    border-image-width: 1;
}

.about-info .personal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.about-info .personal-info p{
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 0.025em;
    margin-bottom: 2em;
    text-transform: capitalize;
}

.about-info .personal-info img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.about-info .personal-skils{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-info .personal-skils ul{width: 140px; }
.about-info .personal-skils ul li{
    margin-bottom: 1em;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
}

.about-info .git-contributions img{width: 100%; margin-bottom: 0.7em; object-fit: contain;}

.about-info .git-contributions p{text-align: center;}


/*********************** start portfolio section *************/

.projects .filter-btn {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .filter-btn button {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--primary);
    padding: 0.5rem 1.5rem;
    border-radius: 120px;
    margin: 0.5rem;
    cursor: pointer;
    transition: .3s background-color ease-in-out;
}

.projects .filter-btn button:hover,
.projects .filter-btn button.active{
    background-color: var(--secondary)
}

.projects .projects-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects .project-item{
    width: 100%;
    height: 250px;
    transition: 0.3s transform ease-in-out;
    margin: 5px;
    position: relative; 
}

.projects .project-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 0.3s background-color ease-in-out;
}

.projects .project-item:hover::before{
    background-color: rgba(0, 0, 0, 0.6);
}

.projects .project-item.hide{
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
}

.projects .project-item .project-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 1;
    transition: 1.5s object-position linear;
}

.projects .project-item:hover .project-img{
    object-position: bottom;
} 

.projects .project-item .projects-link{
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s opacity ease-in;
}

.projects .project-item:hover .projects-link{
    opacity: 1;
}

.projects .project-item .projects-link a{
    width: 30px;
    height: 30px;
    display: inline-block;

}

.projects .project-item .projects-link a:not(:last-of-type){margin-right: .5em;}

.projects .project-item .projects-link a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(52deg) brightness(105%) contrast(101%);
}

/*********************** start contact section *************/

.contact-contain{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.contact-contain::before {
    content: "";
    position: absolute;
    top: calc(128px + 2em);
    height: 1px;
    right: 0;
    left: 0;
    background-color: var(--secondary-light);
}

.contact-contain::after{
    content: "or";
    position: absolute;
    top: calc(128px + 1em);
    right: calc(50% - 1em);
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 1px solid var(--secondary-light);
    border-radius: 50%;
    background-color: #262545;
}



.contact-contain .contact-social{
    width: 100%;
    text-align: center;
    margin-bottom: 4em;
}

.contact-contain .contact-social .social-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.25em;
    text-transform: uppercase;
    transition: 0.6s letter-spacing ease-in-out;
}

.contact-contain .contact-social .social-title:hover{
    letter-spacing: 1px;
}

.contact-contain .contact-social .social-info{
    font-size: 0.7rem;
    font-weight: 500;
    margin-bottom: 2.5em;
    color: rgba(255, 255, 255, 0.555);
}

.contact-contain .contact-social .social-icons{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-contain .contact-social .social-icons a{
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    transition: 0.3s background-color ease-in-out;
}

.contact-contain .contact-social .social-icons a:not(:last-of-type){margin-right: 1.1em;}

.contact-contain .contact-social .social-icons a:hover{
    background-color: var(--secondary)

}
.contact-contain .contact-social .social-icons img{
    width: 20px;
    object-fit: contain;
    filter: invert(100%) sepia(100%) saturate(163%) hue-rotate(130deg) brightness(113%) contrast(101%);
    transition: 0.3s transform ease-in-out;
}

.contact-contain .form-contain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-contain .form-contain .form-group{
    width: 100%;
    margin-bottom: 2em;
    position: relative;
}


.contact-contain .form-contain .form-group input,
.contact-contain .form-contain .form-group textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--secondary-light);
    padding: 0.5em 1em 0.5em 2.5em;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: transparent;
    transition: 0.3s border ease-in-out;
}
.contact-contain .form-contain .form-group textarea{
    padding: 0.7em;
    height: 150px;
    resize: vertical;
}

.contact-contain .form-contain .form-group > img{
    width:30px;
    height: 24px;
    object-fit: contain;
    position: absolute;
    top: calc(50% - 12px);
    left:10px;
    filter: invert(56%) sepia(61%) saturate(4248%) hue-rotate(258deg) brightness(85%) contrast(91%);
    padding-right: 6px;
    border-right: 1px solid var(--secondary-light)
}


.contact-contain .form-contain .form-group .form-btn{
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: var(--primary);
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s background-color ease-in-out;
}

.contact-contain .form-contain .form-group .form-btn:hover{
    background-color: var(--secondary)
}


.contact-contain .form-contain .form-group .form-btn img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    filter: invert(100%) sepia(100%) saturate(163%) hue-rotate(130deg) brightness(113%) contrast(101%);
    margin-left: 0.2em;
}

/* ************************* footer ***************************** */

footer{
    width: 100%;
    height: auto;
    background-color: #1f1e2e;
    padding: 1em 0;
    color: #ffffff8e;
}

footer .footer-contain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

footer .footer-contain p{font-size: 0.6rem;} 

footer .footer-contain .footer-icons {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

footer .footer-contain .footer-icons li{width: 17px; height: 17px;}

footer .footer-contain .footer-icons img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: invert(100%) sepia(100%) saturate(163%) hue-rotate(130deg) brightness(113%) contrast(101%);
    opacity: 0.5;
    margin-right: 0.5em;
}

/* ************ anmation  */

@keyframes witerBorder {
    from {
        border-color: #fff;
    }
    to {
        border-color: rgba(255, 255, 255, 0.247);
    }
}















/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container{padding: 0; max-width: 540px;}

    nav{width: 500px;}
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container{max-width: 720px;}

    section .section-title{font-size: 3.5rem;}

    /* *************************** */

    nav ul li{width: 70px; height: 70px;}
    nav ul li a img{width: 40px; height: 40px; }

    /* header{padding: 145px 0;} */

    .header-contain{flex-direction: row; justify-content: space-between;}

    .header-contain .landing-img{width: 300px; height: 300px; margin-bottom: 0;}

    .header-contain .landing-info{width: 400px;}

    .header-contain .landing-info h1{font-size: 2rem;}
    
    .header-contain .landing-info h1 span{font-size: 2.5rem;}

    .header-contain .landing-info .download-cv{width: 200px; margin: 0; font-size: 1.2rem;}

    .header-contain .landing-info .download-cv img{width: 30px; height: 30px;}

    /* ******************************** */

    .about-info h3{font-size: 2rem;}

    .about-info .personal-info{ justify-content: space-between;}

    .about-info .personal-info p{width: 50%; font-size: 1.2rem; margin-bottom: 0;}

    .about-info .personal-info img{width: 300px; height: 300px;}

    /* ********************************* */

    .projects .project-item{width: 45%;}

    /* ******************************************** */

    .contact-contain::before{
        top: 0;
        bottom: 0;
        width: 1px;
        height: auto;
        right: 65%;
        left: auto;
        background-color: var(--secondary-light);
    }

    .contact-contain::after{top: 50%; right: calc(65% - 1em);}

    .contact-contain .contact-social{width: 30%; margin-bottom: 0;}

    .contact-contain .contact-social .social-title{font-size: 2rem;}

    .contact-contain .contact-social .social-info{font-size: 1rem;}

    .contact-contain .form-contain{width: 60%;}

    .contact-contain .form-contain .form-group:not(:nth-last-of-type(2)){width: 48%;}

    /* *********************************************** */

    footer .footer-contain p{font-size: 1rem;}

    footer .footer-contain .footer-icons{width: 250px;}

    footer .footer-contain .footer-icons li{width: 20px; height: 20px;}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container{max-width: 960px;}

    section .section-title{font-size: 4rem;}

    /* ******************************** */

    .header-contain .landing-img{width: 350px; height: 350px;}

    .header-contain .landing-info{width: 450px;}

    .header-contain .landing-info h1{font-size: 2.5rem;}
    
    .header-contain .landing-info h1 span{font-size: 3rem;}

    .header-contain .landing-info .download-cv{width: 250px; font-size: 1.5rem;}

    /* ************************************************* */

    .about-info .personal-info p{font-size: 1.5rem;}

    /* ************************************* */

    .projects .project-item{width: 30%;}

    /* ********************************************** */

    .contact-contain .contact-social .social-title{font-size: 3rem;}

    .contact-contain .contact-social .social-icons a{width: 50px; height: 50px;}

    .contact-contain .contact-social .social-icons a img{width: 30px; height: 30px;}

    .contact-contain .contact-social .social-icons a:not(:last-of-type){margin-right: 1.5em;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container{max-width: 1140px;}
}